# macOS
.DS_Store

# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Build output
**/dist/
**/.vite/

# Environment files
**/.env
**/.env.*

# Logs
**/*.log

# Editor
.vscode/
.idea/
